.logo-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-header p {
  margin: auto;
  color: #1d3557;
}
.logo-UFCG {
  font-weight: bold;
}

.logo-ask {
  margin: 0;
  height: 3rem;
  width: auto;
}
