.home-page {
  display: flex;
	background-color: #FAFAFA;
  width: 100%;
}

.main-home-content {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
}

.buttons-home {
  display: flex;
  gap: 1.5rem;
}

.home-tag-button {
  display: flex;
  gap: 0.5rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  color: #FFF;
  border: 0px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.new-tag {
  background-color: #1D3557; 
}

.other-tag {
  background-color: #457B9D;
}

.tag-icon {
  height: 0.9rem;
  width: auto;
}

.home-asks-container {
  width: 90%;
  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

  overflow-y: scroll;
  overflow-x: hidden;

  height: 80vh;
}

.home-ask-card {
  width: 90%;
  padding: 1.5rem;

  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.user-home-ask-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-home-ask-card img {
  height: 4rem;
  width: auto;
  border-radius: 50%;
}

.user-home-ask-card p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}

.ask-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}

.ask-description {
  font-size: 1rem; 
}

.ask-tags {
  display: flex;
  gap: 1rem;
}

.ask-tag {
  display: flex;
  gap: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  background-color: #457B9D;
  color: #FFF;
  border: 0px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FAFAFA; 
}
 
::-webkit-scrollbar-thumb {
  background: #457B9D; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1D3557; 
}

.card-right-menu {
  border: 1px solid #EAEAEA;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 3rem 1rem 0 0;

  font-size: 1rem;
  padding: 1rem 0.5rem;
}

.section-right-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.section-right-menu p {
  color: #888;
  font-weight: bold;
  margin-bottom: 0;
}

.right-card-icon {
  height: 1.5rem;
  width: auto;
}

.link-right-menu {
  margin-left: 1.5rem;
}

.menu-search {
	margin-top: 3rem !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center;
	width: 100%;
}
