.title-login {
  font-weight: bold;
}

.subtitle-login {
  font-weight: normal;
}

/* Ant */
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.hl-input:disabled {
  color: #555 !important;
}

.center-content {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -200px; 
  margin-left: -250px;
}

.style-button {
  width: 100%;
  background-color: #E63946;
  border-color: #E63946;
}

.style-button:hover {
  background-color: #890000;
}